In [3]:
name=input("enter the name")
age=int(input("enter the age"))
if age>=18:
     print(name)
     print("eligible for vote")
else:
     print(name)
     print("not eligible for vote")

enter the name uday
enter the age 15

uday
not eligible for vote

##### a=int(input("enter the a value"))
b=int(input("enter the b value"))
c=int(input("enter the c value"))
if a>b:
    if a>c:
        print("a is greater")
    else:
       print("c is greater")
else:
     if b>c:
       print("b is greater")
     else:
       print("c is greater")

In [33]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
x=0
while x<10:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9

In [6]:
for y in range(0,10):
    for x in range(0,y+1):
        print("*",end=" ")
        print()

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [8]:
a=int(input("enter number"))
b=int(input("enter number"))
c=int(input("enter number"))
if a>b and a>c:
    print(a)
else:
    c=b if b>c else c
    print(c)

enter number 23
enter number 45
enter number 78

78

In [11]:
a=int(input("enter number"))
b=int(input("enter number"))
c=int(input("enter number"))
d=a if a>b and a>c else(b if b>c else c)
print(d)

enter number 45
enter number 89
enter number 32

89

In [13]:
s="uday is eating"
'uday is' in s

True

In [16]:
print("uday"+"kiran")

udaykiran

In [17]:
print("hello",end='@')
print("hi",end='Q')

hello@hiQ

In [19]:
a=10
b=20
c=30
print("first value is",a,"second value is",b,"third value is",c)

first value is 10 second value is 20 third value is 30

In [23]:
print("hi \n everyone")

hi
 everyone

In [5]:
for u in "uday":
    print(u)

u
d
a
y

In [3]:
for i in range(1,101):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [4]:
n = int(input("Enter a number: "))
prod = 1
for i in range(1, n+1):
    prod *= i
print("Factorial of", n, "is", prod)

Enter a number:  4

Factorial of 4 is 24

In [10]:
l1=[8,9,6,4]
sum=0
for i in l1:
    sum=sum+i
print(sum)

27

In [11]:
n = int(input("Enter a number: "))
i=1
p=1
while i<=n:
    p=p*i
    i=i+1
print(p)

Enter a number:  4

24